<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <%- include('../partials/nav.ejs'); %>
          <div>
            <!-- USER ATTENDANCE DATA -->
            <div>
              <v-img
                width="50%"
                class="mx-auto mt-10 rounded-xl"
                src="<%= profileFile %>"
              >
              </v-img>
              <v-card
                v-show="!showHistory"
                class="mx-auto mt-10 rounded-xl text-center"
                color="white"
                width="80%"
                title="<%= user.firstname %> <%= user.lastname %>'s Data"
              >
                <div class="mx-auto">
                  <v-container>
                    <v-row class="text-start mx-2">
                      <v-col cols="12" md="6">
                        <div>
                          <v-card
                            class="mx-auto rounded-xl"
                            width="100%"
                            height="350px"
                            variant="outlined"
                          >
                            <template v-slot:title> Daily Reports </template>
                            <!-- DELAY LOADING -->
                            <div
                              v-if="loading == true"
                              class="d-flex justify-center"
                            >
                              <v-progress-circular
                                :size="100"
                                color="green"
                                indeterminate
                                class="mb-4"
                              ></v-progress-circular>
                            </div>
                            <v-card-text
                              class="d-flex justify-center"
                              v-if="loading == false"
                            >
                              <v-row>
                                <v-col
                                  cols="12"
                                  md="6"
                                  class="d-flex justify-center"
                                >
                                  <div class="ml-4 text-start">
                                    <p>
                                      Fullname : <%=user.firstname%>
                                      <%=user.lastname%>
                                    </p>
                                    <p>
                                      Class : <%=user.class%>/<%=user.room%>
                                      Number : <%=user.no%>
                                    </p>
                                    <div
                                      v-if="`${dataOfUser[0]}` == 'Checked' || `${dataOfUser[0]}` == 'Late'"
                                    >
                                      <p>
                                        Timestamp :
                                        {{ dataOfUser[1].timestamp.hour }}:{{
                                          dataOfUser[1].timestamp.minute
                                        }}
                                        {{ dataOfUser[1].timestamp.apm }}
                                      </p>
                                      <p>
                                        Date :
                                        {{ dataOfUser[1].timestamp.date }}/{{
                                          dataOfUser[1].timestamp.month
                                        }}/{{ dataOfUser[1].timestamp.year }}
                                      </p>
                                    </div>
                                  </div>
                                </v-col>
                                <v-col
                                  cols="12"
                                  md="6"
                                  v-if="`${dataOfUser[0]}` == 'Checked'"
                                  class="text-center"
                                >
                                  <!-- CHECK STATUS ICON -->
                                  <!-- Checked -->
                                  <p>{{ dataOfUser[0] }}</p>
                                  <v-icon
                                    color="success"
                                    size="100"
                                    icon="mdi-checkbox-marked-circle"
                                    class="mt-2"
                                  ></v-icon>
                                </v-col>
                                <v-col
                                  cols="12"
                                  md="6"
                                  v-if="`${dataOfUser[0]}` == 'Late'"
                                  class="text-center"
                                >
                                  <!-- CHECK STATUS ICON -->
                                  <!-- Checked -->
                                  <p>{{ dataOfUser[0] }}</p>
                                  <v-icon
                                    color="orange"
                                    size="100"
                                    icon="mdi-clock"
                                    class="mt-2"
                                  ></v-icon>
                                </v-col>
                                <v-col
                                  cols="12"
                                  md="6"
                                  v-if="`${dataOfUser[0]}` == 'Absent'"
                                  class="text-center"
                                >
                                  <!-- NOT CHECK IN STATUS ICON -->
                                  <p>{{ dataOfUser[0] }}</p>
                                  <v-icon
                                    color="grey"
                                    size="100"
                                    icon="mdi-note-off"
                                    class="mt-2"
                                  ></v-icon>
                                </v-col>
                                <v-col
                                  cols="12"
                                  md="12"
                                  class="d-flex justify-center"
                                >
                                  <div>
                                    <input
                                      type="date"
                                      id="historyDaily"
                                      name="historyDaily"
                                      v-model="date.dateDaily"
                                    />
                                    <v-btn
                                      @click="fetchUserDaily()"
                                      class="mx-auto ml-4"
                                      color="success"
                                    >
                                      SEARCH
                                    </v-btn>
                                  </div>
                                </v-col>
                              </v-row>
                            </v-card-text>
                          </v-card>
                        </div>
                      </v-col>
                      <v-col cols="12" md="6">
                        <v-card
                          class="mx-auto rounded-xl"
                          width="100%"
                          height="350px"
                          variant="outlined"
                        >
                          <template v-slot:title> Weekly Reports </template>

                          <v-card-text class="d-flex justify-center">
                            <div>
                              <%- include('../partials/dataCharts.ejs'); %>
                              <div class="d-flex justify-center">
                                <div style="position: relative; width: 400px">
                                  <canvas
                                    id="weeklyChart"
                                    style="width: 100%; max-width: 600px"
                                  ></canvas>
                                </div>
                              </div>
                            </div>
                          </v-card-text>
                        </v-card>
                      </v-col>
                    </v-row>
                    <v-row class="text-start mx-2">
                      <v-col cols="12" md="12">
                        <v-card
                          class="mx-auto rounded-xl"
                          width="100%"
                          variant="outlined"
                        >
                          <template v-slot:title> Monthly Reports </template>

                          <v-card-text class="d-flex justify-center">
                            <div>
                              <div class="d-flex justify-center">
                                <canvas
                                  id="monthlyChart"
                                  style="width: 100%"
                                ></canvas>
                              </div>

                              <div>
                                <input
                                  type="month"
                                  id="historyMonthly"
                                  name="historyMonthly"
                                  v-model="date.dateMonthly"
                                />
                                <v-btn
                                  @click="fetchUserMonthly()"
                                  class="mx-auto ml-4"
                                  color="success"
                                  icon
                                >
                                  <v-icon icon="mdi-cloud-search"></v-icon>
                                  <!-- SEARCH -->
                                </v-btn>
                              </div>
                            </div>
                          </v-card-text>
                        </v-card>
                      </v-col>
                    </v-row>
                    <v-row class="d-flex justify-center text-start mx-2">
                      <v-col cols="12" md="6">
                        <!-- <v-card
                          class="mx-auto rounded-xl"
                          width="100%"
                          variant="outlined"
                        >
                          <template v-slot:title> All Time Reports </template>

                          <v-card-text class="d-flex justify-center">
                            <div>
                              <v-progress-circular
                                :size="100"
                                color="green"
                                indeterminate
                              ></v-progress-circular>
                            </div>
                          </v-card-text>
                        </v-card> -->
                      </v-col>
                      <!-- SEARCH DIV -->
                      <v-col cols="12" md="6">
                        <v-row class="d-flex justify-center mt-10">
                          <v-col cols="12" md="8">
                            <v-text-field
                              color="success"
                              label="Search"
                              placeholder="StudentID"
                              variant="outlined"
                              :counter="10"
                              :rules="searchStudentIDRules"
                              required
                              v-model="searchStudentID"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" md="4">
                            <v-form
                              :action="`/data/${searchStudentID}`"
                              method="GET"
                              class="d-flex justify-center mt-2"
                              v-model="valid"
                            >
                              <v-btn
                                class="mx-auto"
                                color="success"
                                type="submit"
                              >
                                GO
                              </v-btn>
                            </v-form>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                  </v-container>
                </div>
              </v-card>
              <div class="mx-auto text-center" v-show="!showHistory">
                <v-btn
                  class="mx-auto my-10"
                  color="warning"
                  @click="showHistory = !showHistory"
                >
                  History
                </v-btn>
              </div>
            </div>

            <!-- HISTORY SECTION -->
            <div>
              <v-card
                class="mx-auto my-10 rounded-xl text-center"
                color="white"
                width="80%"
                title="History"
                v-show="showHistory"
              >
                <div class="mx-auto text-center my-10">
                  <!-- USER HISTORY -->
                  <!-- <v-table theme="dark">
                    <thead>
                      <tr>
                        <th class="text-left">Name</th>
                        <th class="text-left">Calories</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>sfsdf</td>
                        <td>sefsf</td>
                      </tr>
                    </tbody>
                  </v-table> -->
                  <!-- TEST MENU  -->
                  <!-- <h1>SEL CLASS = {{ selectClass }}</h1>
                  <hr />
                  <h1>SEL ROOM = {{ selectRoom }}</h1>
                  <hr />
                  <h1>SEL DATE = {{ date }}</h1>
                  <hr /> -->
                  <div>
                    <v-container>
                      <!-- CLASS & ROOM FILTER SELECT -->
                      <v-row class="mx-auto justify-center">
                        <v-col cols="12" md="5">
                          <v-select
                            name="selectClassInput"
                            v-model="selectClass"
                            :items="classItems"
                            item-title="class"
                            item-value="class"
                            label="Class"
                            return-object
                            @update:model-value="computeRoomItem"
                          ></v-select>
                        </v-col>
                        <v-col cols="12" md="5" v-if="selectClass != ''">
                          <v-select
                            name="selectRoomInput"
                            v-model="selectRoom"
                            :items="roomItems"
                            item-title="room"
                            item-value="room"
                            label="Room"
                            return-object
                          ></v-select>
                        </v-col>
                        <!-- HISTORY DATA MONTH YEAR FILTER SELECT -->
                        <v-col cols="12" md="2" v-if="selectRoom != ''">
                          <div class="mt-4">
                            <!-- <label for="historyDate">Date:</label> -->
                            <input
                              type="date"
                              id="historyDate"
                              name="historyDate"
                              v-model="date.dateSearch"
                            />
                          </div>
                        </v-col>
                      </v-row>
                      <!-- PROCESS BUTTON ROW -->
                      <v-row class="mx-auto justify-center">
                        <!-- SEARCH BUTTON -->
                        <v-col cols="12" md="2" v-if="selectRoom != ''">
                          <v-btn
                            @click="actionSubmit()"
                            class="mx-auto mt-2"
                            color="success"
                          >
                            SEARCH
                          </v-btn>
                        </v-col>
                        <!-- CLEAR BUTTON -->
                        <v-col cols="12" md="2" v-if="selectRoom != ''">
                          <v-btn
                            @click="clearFilter()"
                            class="mx-auto mt-2"
                            color="warning"
                          >
                            CLEAR
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </div>

                  <!-- EXIT BUTTON -->
                  <v-btn
                    v-if="searchStudentList == ''"
                    class="mx-auto my-6"
                    color="red"
                    @click="showHistory = !showHistory"
                  >
                    EXIT
                  </v-btn>
                </div>
                <!-- SHOW USER PROFILE -->
                <!-- DELAY LOADING -->
                <v-progress-circular
                  v-if="loading == true"
                  :size="100"
                  color="green"
                  indeterminate
                  class="mb-10"
                ></v-progress-circular>
                <div
                  class="d-flex justify-space-around"
                  v-if="searchStudentList != '' && showHistory == true && loading == false"
                  v-for="student in searchStudentList"
                >
                  <v-card
                    class="mx-auto my-2 rounded-xl"
                    width="80%"
                    variant="outlined"
                  >
                    {{ newToggleEditAttendanceSettings(student) }}
                    <v-container>
                      <v-row class="mx-auto justify-center">
                        <v-col cols="12" md="2">
                          <div v-if="`${student.history}` == 'Checked'">
                            <v-icon
                              color="success"
                              size="30"
                              icon="mdi-checkbox-marked-circle"
                              class="mt-2"
                            ></v-icon>
                            <!-- Checked -->
                            <p>{{ student.history }}</p>
                          </div>
                          <div v-if="`${student.history}` == 'Late'">
                            <v-icon
                              color="orange"
                              size="30"
                              icon="mdi-clock"
                              class="mt-2"
                            ></v-icon>
                            <!-- Late -->
                            <p>{{ student.history }}</p>
                          </div>
                          <div v-if="`${student.history}` == 'Absent'">
                            <v-icon
                              color="red"
                              size="30"
                              icon="mdi-cancel"
                              class="mt-2"
                            ></v-icon>
                            <!-- Absent -->
                            <p>{{ student.history }}</p>
                          </div>
                        </v-col>

                        <v-col cols="12" md="5">
                          <div class="d-flex justify-center">
                            <div>
                              <p class="font-weight-black text-h8">
                                Name : {{ student.name }}
                              </p>
                              <p>
                                Class : {{ student.class }}/{{ student.room }}
                                No :
                                {{ student.no }}
                              </p>
                              <p>StudentID : {{ student.studentID }}</p>
                              <p>
                                Date : {{ student.timestamp.date }}/{{
                                  student.timestamp.month
                                }}/{{ student.timestamp.year }}
                              </p>
                              <p v-if="`${student.timestamp.apm}` != '-'">
                                Timestamp : {{ student.timestamp.hour }}:{{
                                  student.timestamp.minute
                                }}:{{ student.timestamp.second }}
                                {{ student.timestamp.apm }}
                              </p>
                              <p v-else>Timestamp : -</p>
                              <div
                                v-if="toggleEditAttendance[student.studentID].toggleEdit == true"
                              >
                                <v-container>
                                  <v-row>
                                    <v-col cols="12" md="10">
                                      <v-select
                                        name="newState"
                                        v-model="toggleEditAttendance[student.studentID].newState"
                                        :items="newStateItems"
                                        label="New State"
                                        return-object
                                      ></v-select>
                                    </v-col>
                                    <v-col cols="12" md="2">
                                      <v-btn
                                        color="success"
                                        class="mt-4"
                                        @click="changeNewAttendanceState(student.studentID,student.name)"
                                        v-if="toggleEditAttendance[student.studentID].toggleEdit == true"
                                      >
                                        SAVE
                                      </v-btn>
                                    </v-col>
                                  </v-row>
                                </v-container>
                              </div>
                            </div>
                          </div>
                        </v-col>

                        <v-col cols="12" md="3">
                          <v-img
                            width="60%"
                            class="mx-auto rounded"
                            v-bind:src="`${student.profileFile}`"
                          >
                          </v-img>
                        </v-col>
                        <v-col cols="12" md="2">
                          <div class="d-flex justify-space-around">
                            <v-btn
                              v-bind:href="`${student.dataLink}`"
                              color="purple"
                              class="mb-4"
                              icon
                            >
                              <!-- Profile -->
                              <v-icon icon="mdi-account"></v-icon>
                            </v-btn>
                            <v-btn
                              color="orange"
                              class="mb-4"
                              icon
                              @click="toggleEditAttendance[student.studentID].toggleEdit = !(toggleEditAttendance[student.studentID].toggleEdit)"
                              v-if="toggleEditAttendance[student.studentID].toggleEdit == false"
                            >
                              <!-- Edit Attendance-->
                              <v-icon icon="mdi-pencil"></v-icon>
                            </v-btn>
                            <v-btn
                              color="red"
                              class="mb-4"
                              icon
                              @click="toggleEditAttendance[student.studentID].toggleEdit = !(toggleEditAttendance[student.studentID].toggleEdit)"
                              v-if="toggleEditAttendance[student.studentID].toggleEdit == true"
                            >
                              <!-- Edit Attendance-->
                              <v-icon icon="mdi-close-box"></v-icon>
                            </v-btn>
                          </div>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card>
                </div>
                <!-- EXIT BUTTON -->
                <v-btn
                  v-if="searchStudentList != '' && loading == false"
                  class="mx-auto my-6"
                  color="red"
                  @click="showHistory = !showHistory"
                >
                  EXIT
                </v-btn>
              </v-card>
            </div>

            <div v-show="user.role == 'admin'">
              <v-form
                action="/showusers"
                method="post"
                class="d-flex justify-center my-10"
              >
                <v-btn type="submit">admin users</v-btn>
              </v-form>
            </div>
          </div>
        </v-main>
      </v-app>
    </div>

    <%- include('../partials/footer.ejs'); %>

    <script>
      const vuetify = Vuetify.createVuetify();
      const app = Vue.createApp({
        data() {
          return {
            valid: false,
            searchStudentIDRules: [
              (v) => !!v || "required",
              (v) => !isNaN(v) || "must be number",
              (v) =>
                v.length <= 10 ||
                "Lastname must be less than or equal to 10 characters",
            ],
            searchStudentID: "",
            dataOfUser: "",
            reportsWeekly: "",
            reportsMonthly: "",
            selectClass: "",
            selectRoom: "",
            classItems: [],
            roomItems: [],
            searchStudentList: "",
            date: {
              refTodayDate: "",
              dateSearch: "0000-00-00",
              dateDaily: "0000-00-00",
              dateMonthly: "0000-00-00",
            },
            showHistory: false,
            loading: false,
            user: {
              username: "<%= user.username%>",
              email: "<%= user.email%>",
              firstname: "<%= user.firstname%>",
              lastname: "<%= user.lastname%>",
              class: "<%= user.class%>",
              room: "<%= user.room%>",
              no: "<%= user.no%>",
              role: "<%= reqrole%>",
              password: "",
            },
            toggleEditAttendance: {},
            newStateItems: ["Absent", "Checked", "Late"],
          };
        },
        mounted: function () {
          //method1 will execute at pageload
          let todayDate = [
            new Date().getFullYear().toString(),
            (new Date().getMonth() + 1).toString(),
            new Date().getDate().toString(),
          ];
          if (todayDate[1] < 10) {
            todayDate[1] = "0" + todayDate[1];
          }
          if (todayDate[2] < 10) {
            todayDate[2] = "0" + todayDate[2];
          }
          this.date.refTodayDate = `${todayDate[0]}-${todayDate[1]}-${todayDate[2]}`;
          this.date.dateSearch = `${todayDate[0]}-${todayDate[1]}-${todayDate[2]}`;
          this.date.dateDaily = `${todayDate[0]}-${todayDate[1]}-${todayDate[2]}`;
          this.date.dateMonthly = `${todayDate[0]}-${todayDate[1]}`;
          console.log(todayDate);
          this.getInitDataPage();
          this.fetchUserDaily();
          this.fetchUserMonthly();
          this.loading = true;
          setTimeout(() => {
            this.loading = false;
          }, 500);
        },
        methods: {
          fetchUserDaily() {
            fetch(
              `/process/get/dataOfUser/${this.date.dateDaily}/<%= user.studentID%>/`,
              {
                method: "POST",
              }
            )
              .then((res) => res.json())
              .then((datares) => {
                this.dataOfUser = datares.dataOfUser;
                this.reportsWeekly = datares.reportsWeekly;
                loadWeeklyChart(datares.reportsWeekly);
              })
              .catch((err) => {
                console.error("Error: ", err);
              });
            this.loading = true;
            setTimeout(() => {
              this.loading = false;
            }, 500);
          },
          fetchUserMonthly() {
            fetch(
              `/process/get/dataOfUserMonthly/${this.date.dateMonthly}/<%= user.studentID%>/`,
              {
                method: "POST",
              }
            )
              .then((res) => res.json())
              .then((datares) => {
                this.reportsMonthly = datares.reportsMonthly;
                loadMonthlyChart(datares.reportsMonthly);
              })
              .catch((err) => {
                console.error("Error: ", err);
              });
            this.loading = true;
            setTimeout(() => {
              this.loading = false;
            }, 500);
          },
          getInitDataPage() {
            fetch("/process/get/classitems", { method: "POST" })
              .then((res) => res.json())
              .then((datares) => {
                this.classItems = datares.classitems;
              })
              .catch((err) => {
                console.error("Error: ", err);
              });
          },
          computeRoomItem() {
            this.roomItems = [];
            this.selectRoom = "";
            if (this.selectClass != "") {
              for (x in this.selectClass.room) {
                this.roomItems.push({ room: x });
              }
            }
          },
          actionSubmit() {
            const urlf = `/process/get/datahistory/studentlist/${this.date.dateSearch}/${this.selectClass.class}/${this.selectRoom.room}/`;
            fetch(urlf, { method: "POST" })
              .then((res) => res.json())
              .then((datares) => {
                this.searchStudentList = datares.studentList;
              })
              .catch((err) => {
                console.error("Error: ", err);
              });
            this.loading = true;
            setTimeout(() => {
              this.loading = false;
            }, 500);
          },
          clearFilter() {
            this.selectClass = "";
            this.selectRoom = "";
            this.roomItems = [];
            this.searchStudentList = "";
            this.date.dateSearch = this.date.refTodayDate;
            this.toggleEditAttendance = {};
          },
          newToggleEditAttendanceSettings(data) {
            this.toggleEditAttendance[data.studentID] = {
              toggleEdit: false,
              currentState: data.history,
              newState: data.history,
            };
          },
          changeNewAttendanceState(studentid, name) {
            fetch(
              `/process/editattendancestate/${
                this.date.dateSearch
              }/${studentid}/${name.replace(" ", "-")}/${
                this.toggleEditAttendance[studentid].currentState
              }/${this.toggleEditAttendance[studentid].newState}`,
              { method: "POST" }
            )
              .then((res) => res.json())
              .then((datares) => {
                this.actionSubmit();
              })
              .catch((err) => {
                console.error("Error: ", err);
              });
          },
        },
      });

      app.use(vuetify).mount("#app");
    </script>
  </body>
</html>
