<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <%- include('../partials/nav.ejs'); %>
          <div>
            <!-- USER ATTENDANCE DATA -->
            <div>
              <v-img
                width="50%"
                class="mx-auto mt-10 rounded-xl"
                src="<%= profileFile %>"
              >
              </v-img>
              <v-card
                v-show="!showHistory"
                class="mx-auto mt-10 rounded-xl text-center"
                color="white"
                width="80%"
                title="<%= user.firstname %> <%= user.lastname %>'s Data"
              >
                <div class="mx-auto mb-10">
                  <v-container>
                    <v-row class="text-start mx-2">
                      <v-col cols="12" md="6">
                        <div>
                          <v-card
                            class="mx-auto rounded-xl"
                            width="100%"
                            variant="outlined"
                          >
                            <template v-slot:title>
                              Weekly & Monthly Reports
                            </template>

                            <v-card-text class="d-flex justify-center">
                              <div>
                                <v-row class="text-start">
                                  <v-col cols="12" md="6">
                                    <v-progress-circular
                                      :size="50"
                                      color="green"
                                      indeterminate
                                    ></v-progress-circular>
                                    <!-- <v-img src="IMG/noimg.jpeg"></v-img -->
                                  </v-col>
                                  <v-col cols="12" md="6">
                                    <v-progress-circular
                                      :size="50"
                                      color="green"
                                      indeterminate
                                    ></v-progress-circular>
                                    <!-- <v-img src="IMG/noimg.jpeg"></v-img -->
                                  </v-col>
                                </v-row>
                              </div>
                            </v-card-text>
                          </v-card>
                        </div>
                      </v-col>
                      <v-col cols="12" md="6">
                        <div>
                          <v-card
                            class="mx-auto rounded-xl"
                            width="100%"
                            variant="outlined"
                          >
                            <template v-slot:title> Daily Reports </template>
                            <!-- DELAY LOADING -->
                            <div
                              v-if="loading == true"
                              class="d-flex justify-center"
                            >
                              <v-progress-circular
                                :size="100"
                                color="green"
                                indeterminate
                                class="mb-4"
                              ></v-progress-circular>
                            </div>
                            <v-card-text
                              class="d-flex justify-center"
                              v-if="loading == false"
                            >
                              <v-row>
                                <v-col
                                  cols="12"
                                  md="6"
                                  v-if="`${dataOfUser[0]}` == 'Checked'"
                                  class="d-flex justify-center"
                                >
                                  <div class="ml-4 text-start">
                                    <p>
                                      Fullname : <%=user.firstname%>
                                      <%=user.lastname%>
                                    </p>
                                    <p>
                                      Class : <%=user.class%>/<%=user.room%>
                                      Number : <%=user.no%>
                                    </p>
                                    <p>Check Status : {{ dataOfUser[0] }}</p>
                                    <p>
                                      Timestamp :
                                      {{ dataOfUser[1].timestamp.hour }}:{{
                                        dataOfUser[1].timestamp.minute
                                      }}
                                      {{ dataOfUser[1].timestamp.apm }}
                                    </p>
                                    <p>
                                      Date :
                                      {{ dataOfUser[1].timestamp.date }}/{{
                                        dataOfUser[1].timestamp.month
                                      }}/{{ dataOfUser[1].timestamp.year }}
                                    </p>
                                  </div>
                                </v-col>
                                <v-col
                                  cols="12"
                                  md="6"
                                  v-if="`${dataOfUser[0]}` == 'Checked'"
                                  class="text-center"
                                >
                                  <!-- CHECK STATUS ICON -->
                                  <p>Checked</p>
                                  <v-icon
                                    color="success"
                                    size="100"
                                    icon="mdi-checkbox-marked-circle"
                                    class="mt-2"
                                  ></v-icon>
                                </v-col>
                                <v-col
                                  cols="12"
                                  md="12"
                                  v-if="`${dataOfUser[0]}` == 'Absent'"
                                  class="d-flex justify-center"
                                >
                                  <!-- NOT CHECK IN STATUS ICON -->
                                  <div>
                                    <p>This user hasn't checked in yet.</p>
                                    <v-icon
                                      color="grey"
                                      size="200"
                                      icon="mdi-note-off"
                                      class="mt-2"
                                    ></v-icon>
                                  </div>
                                </v-col>
                              </v-row>
                            </v-card-text>
                          </v-card>
                        </div>
                      </v-col>
                    </v-row>
                  </v-container>
                </div>
              </v-card>
              <div class="mx-auto text-center" v-show="!showHistory">
                <v-btn
                  class="mx-auto my-10"
                  color="warning"
                  @click="showHistory = !showHistory"
                >
                  History
                </v-btn>
              </div>
            </div>

            <!-- HISTORY SECTION -->
            <div>
              <v-card
                class="mx-auto my-10 rounded-xl text-center"
                color="white"
                width="80%"
                title="History"
                v-show="showHistory"
              >
                <div class="mx-auto text-center my-10">
                  <!-- USER HISTORY -->
                  <v-table theme="dark">
                    <thead>
                      <tr>
                        <th class="text-left">Name</th>
                        <th class="text-left">Calories</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>sfsdf</td>
                        <td>sefsf</td>
                      </tr>
                    </tbody>
                  </v-table>
                  <!-- TEST MENU  -->
                  <h1>SEL CLASS = {{ selectClass }}</h1>
                  <hr />
                  <h1>SEL ROOM = {{ selectRoom }}</h1>
                  <hr />
                  <h1>SEL DATE = {{ date }}</h1>
                  <hr />
                  <div>
                    <v-container>
                      <!-- CLASS & ROOM FILTER SELECT -->
                      <v-row class="mx-auto justify-center">
                        <v-col cols="12" md="5">
                          <v-select
                            name="selectClassInput"
                            v-model="selectClass"
                            :items="classItems"
                            item-title="class"
                            item-value="class"
                            label="Class"
                            return-object
                            @update:model-value="computeRoomItem"
                          ></v-select>
                        </v-col>
                        <v-col cols="12" md="5" v-if="selectClass != ''">
                          <v-select
                            name="selectRoomInput"
                            v-model="selectRoom"
                            :items="roomItems"
                            item-title="room"
                            item-value="room"
                            label="Room"
                            return-object
                          ></v-select>
                        </v-col>
                        <!-- HISTORY DATA MONTH YEAR FILTER SELECT -->
                        <v-col cols="12" md="2" v-if="selectRoom != ''">
                          <div class="mt-4">
                            <!-- <label for="historyDate">Date:</label> -->
                            <input
                              type="date"
                              id="historyDate"
                              name="historyDate"
                              v-model="date"
                            />
                          </div>
                        </v-col>
                      </v-row>
                      <!-- PROCESS BUTTON ROW -->
                      <v-row class="mx-auto justify-center">
                        <!-- SEARCH BUTTON -->
                        <v-col cols="12" md="2" v-if="selectRoom != ''">
                          <v-btn
                            @click="actionSubmit()"
                            class="mx-auto mt-2"
                            color="success"
                          >
                            SEARCH
                          </v-btn>
                        </v-col>
                        <!-- CLEAR BUTTON -->
                        <v-col cols="12" md="2" v-if="selectRoom != ''">
                          <v-btn
                            @click="clearFilter()"
                            class="mx-auto mt-2"
                            color="warning"
                          >
                            CLEAR
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </div>

                  <!-- EXIT BUTTON -->
                  <v-btn
                    v-if="searchStudentList == ''"
                    class="mx-auto my-6"
                    color="red"
                    @click="showHistory = !showHistory"
                  >
                    EXIT
                  </v-btn>
                </div>
                <!-- SHOW USER PROFILE -->
                <!-- DELAY LOADING -->
                <v-progress-circular
                  v-if="loading == true"
                  :size="100"
                  color="green"
                  indeterminate
                  class="mb-10"
                ></v-progress-circular>
                <div
                  class="d-flex justify-space-around"
                  v-if="searchStudentList != '' && showHistory == true && loading == false"
                  v-for="student in searchStudentList"
                >
                  <v-card
                    class="mx-auto my-2 rounded-xl"
                    width="80%"
                    variant="outlined"
                  >
                    <v-container>
                      <v-row class="mx-auto justify-center">
                        <v-col cols="12" md="2">
                          <v-btn
                            v-bind:href="`${student.dataLink}`"
                            color="purple"
                            class="mb-4"
                          >
                            Profile
                          </v-btn>
                          <div v-if="`${student.history}` == 'Checked'">
                            <v-icon
                              color="success"
                              size="30"
                              icon="mdi-checkbox-marked-circle"
                              class="mt-2"
                            ></v-icon>
                            <p>Checked</p>
                          </div>
                          <div v-if="`${student.history}` == 'Absent'">
                            <v-icon
                              color="red"
                              size="30"
                              icon="mdi-cancel"
                              class="mt-2"
                            ></v-icon>
                            <p>Absent</p>
                          </div>
                        </v-col>
                        <v-col cols="12" md="6">
                          <div class="d-flex justify-center">
                            <div>
                              <p class="font-weight-black text-h8">
                                Name : {{ student.name }}
                              </p>
                              <p>
                                Class : {{ student.class }}/{{ student.room }}
                                No :
                                {{ student.no }}
                              </p>
                              <p>StudentID : {{ student.studentID }}</p>
                            </div>
                          </div>
                        </v-col>
                        <v-col cols="12" md="4">
                          <v-img
                            width="50%"
                            class="mx-auto rounded"
                            v-bind:src="`${student.profileFile}`"
                          >
                          </v-img>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card>
                </div>
                <!-- EXIT BUTTON -->
                <v-btn
                  v-if="searchStudentList != '' && loading == false"
                  class="mx-auto my-6"
                  color="red"
                  @click="showHistory = !showHistory"
                >
                  EXIT
                </v-btn>
              </v-card>
            </div>

            <div v-show="user.role == 'admin'">
              <v-form
                action="/showusers"
                method="post"
                class="d-flex justify-center my-10"
              >
                <v-btn type="submit">admin users</v-btn>
              </v-form>
            </div>
          </div>
        </v-main>
      </v-app>
    </div>

    <%- include('../partials/footer.ejs'); %>

    <script>
      const vuetify = Vuetify.createVuetify();
      const app = Vue.createApp({
        data() {
          return {
            dataOfUser: "",
            selectClass: "",
            selectRoom: "",
            classItems: [],
            roomItems: [],
            searchStudentList: "",
            date: "0000-00-00",
            showHistory: false,
            loading: false,
            user: {
              username: "<%= user.username%>",
              email: "<%= user.email%>",
              firstname: "<%= user.firstname%>",
              lastname: "<%= user.lastname%>",
              class: "<%= user.class%>",
              room: "<%= user.room%>",
              no: "<%= user.no%>",
              role: "<%= user.role%>",
              password: "",
            },
          };
        },
        mounted: function () {
          //method1 will execute at pageload
          this.getInitDataPage();
          this.loading = true;
          setTimeout(() => {
            this.loading = false;
          }, 500);
        },
        methods: {
          getInitDataPage() {
            fetch("/process/get/dataOfUser/<%= user.studentID%>", {
              method: "POST",
            })
              .then((res) => res.json())
              .then((datares) => {
                this.dataOfUser = datares.dataOfUser;
              })
              .catch((err) => {
                console.error("Error: ", err);
              });
            fetch("/process/get/classitems", { method: "POST" })
              .then((res) => res.json())
              .then((datares) => {
                this.classItems = datares.classitems;
              })
              .catch((err) => {
                console.error("Error: ", err);
              });
          },
          computeRoomItem() {
            this.roomItems = [];
            this.selectRoom = "";
            if (this.selectClass != "") {
              for (x in this.selectClass.room) {
                this.roomItems.push({ room: x });
              }
            }
          },
          actionSubmit() {
            const urlf = `/process/get/datahistory/studentlist/${this.selectClass.class}/${this.selectRoom.room}/${this.date}`;
            fetch(urlf, { method: "POST" })
              .then((res) => res.json())
              .then((datares) => {
                this.searchStudentList = datares.studentList;
              })
              .catch((err) => {
                console.error("Error: ", err);
              });
            this.loading = true;
            setTimeout(() => {
              this.loading = false;
            }, 500);
          },
          clearFilter() {
            this.selectClass = "";
            this.selectRoom = "";
            this.roomItems = [];
            this.searchStudentList = "";
            this.date = "0000-00-00";
          },
        },
      });

      app.use(vuetify).mount("#app");
    </script>
  </body>
</html>
