<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body onload="mainLoad();">
    <div id="app">
      <v-app>
        <v-main>
          <%- include('../partials/nav.ejs'); %>

          <div class="d-flex justify-center my-10">
            <h1 style="color: rgb(255, 255, 255)"><%= name %></h1>
          </div>

          <div>
            <v-card
              class="mx-auto justify-center rounded-xl pa-4 my-10"
              flat
              width="70%"
              ><div class="d-flex justify-center">
                <%- include('../partials/googlecharts.ejs'); %>
              </div>
              <div v-if="loading == false">
                <h3>Last Login</h3>
                <v-card
                  class="mx-auto rounded-xl mb-6"
                  width="70%"
                  variant="outlined"
                  v-for="login in lastLoginData"
                >
                  <template v-slot:title>
                    <v-avatar color="info">
                      <v-icon icon="mdi-account-circle"></v-icon>
                    </v-avatar>
                    {{ login.name }} | {{ login.studentID }}
                  </template>

                  <v-card-text class="d-flex justify-center">
                    logged in at {{ login.timestamp.hour }}:{{
                      login.timestamp.minute
                    }}:{{ login.timestamp.second }} {{ login.timestamp.apm }} -
                    Date : {{ login.timestamp.date }}/{{
                      login.timestamp.month
                    }}/{{ login.timestamp.year }}
                  </v-card-text>
                </v-card>
              </div>
              <!-- DELAY LOADING -->
              <v-progress-linear
                v-if="loading == true"
                indeterminate
                color="green"
              ></v-progress-linear>
            </v-card>
          </div>
        </v-main>
      </v-app>
    </div>

    <%- include('../partials/footer.ejs'); %>
    <script>
      const vuetify = Vuetify.createVuetify();
      const app = Vue.createApp({
        data() {
          return {
            lastLoginData: "",
            loading: false,
          };
        },
        mounted: function () {
          //method1 will execute at pageload
          this.loading = true;
          loadChart();
          this.getLastLogin();
          setTimeout(() => {
            this.loading = false;
          }, 500);
          // auto fetch update interval
          setInterval(() => {
            this.loading = true;
            loadChart();
            this.getLastLogin();
            setTimeout(() => {
              this.loading = false;
            }, 200);
          }, 120000);
        },
        methods: {
          getLastLogin() {
            fetch("/process/get/lastlogin", { method: "POST" })
              .then((res) => res.json())
              .then((datares) => {
                this.lastLoginData = datares.lastlogin;
              })
              .catch((err) => {
                console.error("Error: ", err);
              });
          },
        },
      });

      app.use(vuetify).mount("#app");
    </script>
    <!-- <script>
      function startLiveUpdate() {
      }
      document.addEventListener("DOMContentLoaded", () => {
        startLiveUpdate();
      });
    </script> -->
  </body>
</html>
