<!DOCTYPE html>
<html lang="en">
  <head><%- include('../partials/head.ejs'); %></head>

  <body onload="mainLoad();">
    <header></header>
    <section>
      <nav><%- include('../partials/nav.ejs'); %></nav>
      <div class="containMainBody">
        <h1><%= name %></h1>
        
        
        <div class="containIMG">
          <canvas id="Profile"></canvas>
        </div>
        <div class="profileDetails">
          <h1 style="text-align: center">LAST CHECK</h1>
          <h1>Fullname</h1>
          <h1>Class</h1>
          <h1>Number</h1>
          <h1>ID</h1>
        </div>
        <div class="showUsers">
          <h4>Users List</h4>
          <hr>
          <% results.map((result)=> { %>
            <h4>Name : <%=result.firstname%> <%=result.lastname%></h4>
            <p>Email : <%=result.email%></p>
            <p>Class : <%=result.class%>/<%=result.room%> No : <%=result.no%></p>
            <p>StudentID : <%=result.studentID%></p>
            <p>Password : <%=result.password%></p>
            <hr>
          <% }) %>  
        </div>

      </div>
    </section>
  </body>
</html>
